

html, body {
    background-color: #768f82;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    border-bottom: 4px solid rgb(21, 115, 66);
}

.card {
    
    background-color: rgb(64, 71, 67);
    border: 4px solid rgb(21, 115, 66);
    border-radius: 10px;
    margin: 8px;

}

.card-title {
    font-weight: 700;
}

.textarea {
    padding: 6px;
    margin: 0px 12px;
}